.heroSection {
  margin-top: 20px;
  margin-bottom: 24px;
}

.startedWrapper {
  border-radius: 30px;
  padding: 12px;
  min-width: 150px;
  width: 100%;
  min-height: 400px;
  background-color: #f8f8f8;
}

.homePageTitle {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
  color: #121417;
}

.homePageSpan {
  font-style: italic;
  font-weight: 400;
  border-radius: 12px;
  background-color: #fbe9ba;
}

.homePageDesc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.37;
  letter-spacing: -0.02em;
  margin-bottom: 32px;
  color: #121417;
}

.btnWrapper {
  display: flex;
  justify-content: center;
}

.getStartedLink {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.56;
  border-radius: 12px;
  padding: 8px 0;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s;
  width: 160px;
  color: #121417;
  background-color: #f4c550;
}

.getStartedLink:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.getStartedLink:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.getStartedLink::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.getStartedLink::after {
  background-color: #fff;
}

.getStartedLink:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.visualWrapper {
  min-width: 150px;
  width: 100%;
  height: 324px;
  margin-top: 24px;
}

.teacherPhoto {
  height: 100%;
}

@media screen and (min-width: 768px) {
  .heroSection {
    display: flex;
    gap: 24px;
  }

  .startedWrapper {
    width: 300px;
    height: 440px;
    padding: 16px;
  }

  .homePageTitle {
    font-size: 40px;
    margin-bottom: 24px;
  }

  .homePageDesc {
    margin-bottom: 24px;
  }

  .btnWrapper {
    display: block;
  }

  .getStartedLink {
    padding: 16px 0;
    width: 267px;
  }

  .visualWrapper {
    width: 313px;
    height: 440px;
    margin-top: 0;
  }
}

@media screen and (min-width: 1440px) {
  .startedWrapper {
    width: 720px;
    height: 530px;
    padding-left: 64px;
    padding-top: 98px;
    padding-bottom: 98px;
  }

  .homePageTitle {
    width: 548px;
    font-size: 48px;
    margin-bottom: 32px;
  }

  .homePageSpan {
    margin-left: 8px;
  }

  .homePageDesc {
    width: 471px;
    margin-bottom: 64px;
  }

  .visualWrapper {
    width: 568px;
    height: 530px;
  }
}
