.teachersListItem {
  width: 100%;
  min-width: 288px;
  border-radius: 24px;
  padding: 12px;
  position: relative;
  background-color: #ffffff;
  margin-bottom: 16px;
}

.favoriteTitle {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
  color: #121417;
}

.notFoundText {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: #8a8a89;
}

.navigationWrapper {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 14px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .teachersListItem {
    padding: 24px;
    margin-bottom: 32px;
  }

  .favoriteTitle {
    margin-bottom: 24px;
    font-size: 40px;
  }

  .navigationWrapper {
    margin-bottom: 32px;
  }
}
