.linkWrapper {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  height: 24px;
  display: flex;
  align-items: center;
  gap: 4px;
  color: #dbae3c;
  transition: color 0.3s ease, transform 0.3s ease;
}

.linkIcon {
  width: 16px;
  height: 16px;
  color: #dbae3c;
  transition: color 0.3s ease, transform 0.3s ease;
}

.link:hover,
.link:focus {
  color: #ffce42;
  transform: scale(1.05);
}

.link:hover .linkIcon,
.link:focus .linkIcon {
  color: #ffce42;
  transform: scale(1.2);
}

@media screen and (min-width: 768px) {
  .link {
    font-size: 18px;
  }

  .linkIcon {
    width: 24px;
    height: 24px;
  }
}
